{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src = "{% static 'home_/Js/jquery/dist/jquery.min.js' %}"></script>
        <link rel = "stylesheet" href = "{% static 'home_/css/main.css'%}" />
        <link rel="icon" type="image/x-icon" href="{% static 'login/images/sarc-icon.jpg'%}">
        <title>B.R.A.V.E.S</title>
    </head>
    <body>
      <nav class = 'main-nav'>
        <ul>
          <div class = 'left-stuff-container'>
            <li><a href="{% url 'home'%}">Home</a></li>
          </div>
          <div class = 'right-stuff-container'>
            <li class = 'dropdown'>
              <a href="javascript:void(0)" class="dropbtn">{{user.email}} </a>
              <div class="dropdown-content">
                <a href="#">View Profile</a>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class = 'logout'>logout</button>
                </form>
              </div>
            </li>
          </div>
        </ul> 
      </nav>
      <div class = 'mainpage'>
        {% block content %}{% endblock %}
      </div>
    </body> 
</html>