{% extends "home_/base.html"%}
{% block content %}
{% load static %}
<div class = 'actionpage'>
    <div class = 'all-services'>
        {% if prf.role == 'Admin'%}
        <a href="{% url 'register_user' %}">
            <div class = 'part-container'> 
                <div class = 'image-container'>
                    <img class = 'part-image' src = "{% static 'home_/images/sarc-admin.jpeg'%}"/>
                </div>
                <div class = 'caption-container'>
                    <h4>Users</h4>
                    <p>B.R.A.V.E.S administraiton for users' creation, editing, activation, deactivation and management of B.R.A.V.E.S data and access. </p>
                </div>
            </div>
        </a>
        {% endif %}
        {% if prf.role == 'Team Leader' or prf.role == 'Admin'%}
        <a href="{% url 'all_services' %}">
            <div class = 'part-container'> 
                <div class = 'image-container'>
                    <img class = 'part-image' src = "{% static 'home_/images/sarc-services.jpg'%}"/>
                </div>
                <div class = 'caption-container'>
                    <h4>Services</h4>
                    <p>Create and manage SARC services.</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% if prf.role == 'User' or prf.role == 'Admin' %}
        <a href="#">
            <div class = 'part-container'> 
                <div class = 'image-container'>
                    <img class = 'part-image' src = "{% static 'home_/images/sarc-action.jpg'%}"/>
                </div>
                <div class = 'caption-container'>
                    <h4>On Ground Action</h4>
                    <p>Registration, verification and tracking of SARC beneficiaries, and linking beneficiaries to SARC services in the field.</p>
                    <div>
                        <div style = 'margin: 15px; width: 100%;'>
                            <a href = "{% url 'beneficiaries_register' %}"  style = 'padding: 5px; width: 100%;'> * Register Beneficiary...</a>
                        </div>
                        <div style = 'margin: 15px; width: 100%;'>
                            <a href = "{% url 'register_activity' %}"  style = 'padding: 5px; width: 100%;'>* Service Delivery...</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        
        <a href="#">
            <div class = 'part-container'> 
                <div class = 'image-container'>
                    <img class = 'part-image' src = "{% static 'home_/images/sarc-results.webp'%}"/>
                </div>
                <div class = 'caption-container'>
                    <h4>Results</h4>
                    <p>Generate SARC 4Ws repor.</p>
                </div>
            </div>
        </a>
        
    </div>
</div>  


{% endblock content%}